/* page header */
.header
{
background-color: rgb(173, 229, 229);
height: 90px;
text-align: center;
width: 1465px;
}


/* header text */
.header h1{margin: 0px;}
.div1{margin-left: 515px;}
.table{border-spacing: 20px; margin: 0px;}
.td1 a,.td2 a,.td3 a,.td4 a
{
    text-decoration: none; 
    color: black; 
}
.td1,.td2,.td3,.td4 {background-color: grey; height: 20px; width: 80px;}

/* entering page middle */


/* middle division */
.mdiv
{
    display: flex; 
    margin-top: 10px;
}


/* article=middle left de la page */
.aheader
{
    background-color: orange;
    height: 90px;
    width: 1230px;
    align-items: center;
}
.aheader .ah1 ,.aspan { margin-left: 10px;}
.asection
{
    background-color: rgb(20, 20, 207);
    height: 370px;
    width: 1230px;
 
}
.adiv{margin-top: 10 px;}
.ah1{font-size: 1.6em;}
.aspan {font-size: 1.2em; text-align: left;} 
.lorem1 ,.lorem2 {font-size: 20px;}
.asection .lorem1 {margin-left: 100px;}

/* aside=middle right dyal la page */
.asheader {background-color: blue; width: 205px; height: 130px; margin-left: 30px; margin-top: 2px;}
.asarticle{background-color: blue; width: 205px; height: 130px; margin-left: 30px; margin-top: 33px;}
.asfooter {background-color: blue; width: 205px; height: 130px; margin-left: 30px; margin-top: 34px;}
.buy,.too,.first {font-size: 45px;}
.ads{font-size: 12px; color: rgb(179, 174, 174);}

/* page footer */
.footer
{
    background-color: orangered;
    height:  20px;
    margin-top: 10px;
    width: 1465px;
}