.body 
{
margin-left: 360px;
margin-top: 100px;
}


/*div1 properties*/
.div1 
{
    width: 800px;
    height: 500px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: orange;
}


/*Header properties*/
.header 
{
    text-align: center;
    border: 2px solid gray;
    width: 755px;
    height: 45px;
    border-radius: 5px;
    background-color: gainsboro;
    margin-top: 10px;
    margin-left: 23px;
    line-height: 47px;
}


/*Nav*/
.nav
 {
    text-align: center;
    border: 2px solid gray;
    width: 60px;
    height: 370px;
    border-radius: 5px;
    background-color: gainsboro;
    display: inline-block;
}


/*middle div*/
.div2
{
    display: flex;
    margin-left: 23px;
    margin-top: 7px;
}


/*Section*/
.section 
{
    text-align: center;
    border: 2px solid gray;
    width: 605px;
    height: 370px;
    border-radius: 5px;
    background-color: gainsboro;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
}


/*inside the section*/

/*section display*/
.section .sheader,
.section .sarticle,
.section .sfooter
{
    margin-bottom: 5px;
    margin-left: 9px;
    margin-right: 9px;
}

/*section header*/
.sheader
{
    border-radius: 5px;
    border: 2px solid gray;
    height: 40px;
    margin-top: 5px;
    line-height: 40px;
}

/*section article*/
.sarticle
{
    border-radius: 5px;
    border: 2px solid gray;
    height: 240px;
    line-height: 240px;
}

/* section footer*/
.sfooter
{
    border-radius: 5px;
    border: 2px solid gray;
    height: 40px;
    line-height: 40px;

}


/*Aside properties*/
.aside 
{
    text-align: center;
    border: 2px solid gray;
    width: 70px;
    height: 370px;
    border-radius: 5px;
    background-color: gainsboro;
    display: inline-block;
}


/*Footer properties*/
.footer 
{
    text-align: center;
    border: 2px solid gray;
    width: 755px;
    height:45px;
    border-radius: 5px;
    background-color: gainsboro;
    margin-top: 7px;
    margin-left: 23px;
    line-height: 47px;
}





